sldworks_assist/bin/Debug/Livet.dll
sldworks_assist/bin/Debug/Livet.xml
sldworks_assist/bin/Debug/Microsoft.Expression.Interactions.dll
sldworks_assist/bin/Debug/System.Windows.Interactivity.dll
sldworks_assist/bin/Debug/sldworks_assist.exe
sldworks_assist/bin/Debug/sldworks_assist.pdb
sldworks_assist/bin/Debug/sldworks_assist.vshost.exe
sldworks_assist/obj/x86/Debug/App.g.cs
sldworks_assist/obj/x86/Debug/App.g.i.cs
sldworks_assist/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sldworks_assist/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
sldworks_assist/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
sldworks_assist/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
sldworks_assist/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
sldworks_assist/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
sldworks_assist/obj/x86/Debug/ViewModels/PipeTextViewModel.g.i.cs
sldworks_assist/obj/x86/Debug/Views/MainWindow.baml
sldworks_assist/obj/x86/Debug/Views/MainWindow.g.cs
sldworks_assist/obj/x86/Debug/Views/MainWindow.g.i.cs
sldworks_assist/obj/x86/Debug/Views/pipeText.baml
sldworks_assist/obj/x86/Debug/Views/pipeText.g.cs
sldworks_assist/obj/x86/Debug/Views/pipeText.g.i.cs
sldworks_assist/obj/x86/Debug/Views/pipeTextChildern.baml
sldworks_assist/obj/x86/Debug/Views/pipeTextChildern.g.cs
sldworks_assist/obj/x86/Debug/Views/pipeTextChildern.g.i.cs
sldworks_assist/obj/x86/Debug/sldworks_assist.Properties.Resources.resources
sldworks_assist/obj/x86/Debug/sldworks_assist.csproj.FileListAbsolute.txt
sldworks_assist/obj/x86/Debug/sldworks_assist.csproj.GenerateResource.Cache
sldworks_assist/obj/x86/Debug/sldworks_assist.csprojResolveAssemblyReference.cache
sldworks_assist/obj/x86/Debug/sldworks_assist.exe
sldworks_assist/obj/x86/Debug/sldworks_assist.g.resources
sldworks_assist/obj/x86/Debug/sldworks_assist.pdb
sldworks_assist/obj/x86/Debug/sldworks_assist_Content.g.cs
sldworks_assist/obj/x86/Debug/sldworks_assist_Content.g.i.cs
sldworks_assist/obj/x86/Debug/sldworks_assist_MarkupCompile.cache
sldworks_assist/obj/x86/Debug/sldworks_assist_MarkupCompile.i.cache
sldworks_assist/obj/x86/Debug/sldworks_assist_MarkupCompile.lref
sldworks_assist/obj/x86/Debug/sldworks_assist_MarkupCompile.i.lref
